html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;

  font-family: Oxygen, Helvetica, Arial;
}

body {

}

#header {
  height: 128px;
  text-align: center;
  font-size: 48px;
}

#tv-select {
  height: 128px;
}

#tv-left {
  background-image: url("./assets/left_screen.png");
  background-size: 109px;
  background-repeat: no-repeat;
  background-position: center;
}

#tv-right {
  background-image: url("./assets/right_screen.png");
  background-size: 109px;
  background-repeat: no-repeat;
  background-position: center;

}

#tv-both {
  background-image: url("./assets/both_screens.png");
  background-size: 234px;
  background-repeat: no-repeat;
  background-position: center;

}

div#tv-select div {
  width: 256px;
  height: 128px;
  float: left;

  text-align: center;
  font-size: 40px;
  font-color: #999;
}

div#tv-select div.selected {
  background-color: #CCC;
  font-color: black;
}

.controller-element {
  width: 256px;
  height: 256px;
  padding: 0px;
  margin: 0px;
  float: left;

  background-color: #CCC;
}

.motm-select {
  width: 768px;
  text-align: center;
  font-size: 30px;
}

.motm-select button {
  font-size: inherit !important;
}

.motm-select select#motm-select {
  font-size: inherit !important;
}
